<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
</head>

<body class="d-flex text-center text-white bg-dark" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1601352209716-978486b0da4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80);
background-position: center;
background-size: cover;">
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="px-3">
            <h1 style="padding-bottom:15px;"> YelpCamp</h1>
            <p class="lead"> Welcome to YelpCamp!<br> Jump right in and explore our many campgrounds. <br>
                Feel free to share some of your own and comment on others!</p>
            <button type="button" class="btn btn-info" style="background-color:rgba(109, 172, 16, 0.356);">
                <a href="http://localhost:3000/campgrounds" style="color: aliceblue;">View Campgrounds</a>
            </button>
        </div>
    </div>
</body>

</html>
