<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
</head>

<body class="bg-image"
    style="background-image:url(https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); background-size: cover; ">
    <div style="text-align: center;">
        <div style="font-size: 60px;
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);">
            Welcome to YelpCamp
        </div>
        <div style="font-weight: lighter; font-style: italic; font-size: medium; color:rgb(212, 178, 67);">
            ----The best website for checking the honest reviews of Campgrounds!
        </div>
        <button type="button" class="btn btn-info" style="background-color: rgb(27, 230, 37); margin-top: 50px;">
            <a href="http://localhost:3000/campgrounds" style="color: aliceblue;">Check Out!</a>
        </button>
    </div>
</body>

</html>